{% extends 'base.html' %}
{% block content %}
    <section class="jumbotron text-center bg-white">
    {% if error %}
        <br/>
        {{ error }}
        <br/>
        <br/>
    {% endif %}
    <h1>Insert Page</h1>
    <form method="post" action="{% url 'profile' %}">
        {% csrf_token %}
        <br/>
        <input type="text" name="username" placeholder="Instagram Username"/>
        <br/>
        <br/>
        <input type="password" name="password" placeholder="Instagram Password"/>
        <br/>
        <br/>
        <input class="btn btn-primary" type="submit" value="Enter"/>
    </form>
    </section>
{% endblock %}

